/* BASE STYLES

============================================================================= */

html         { overflow-y:hidden; }

.page        { 

    bottom:0; 

    padding-top:200px;

    position:absolute; 

    text-align:center;

    top:0;  

    width:100%; 

}


.page h1    { font-size:60px; }

.page a     { margin-top:50px; }

#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }


/* PAGES

============================================================================= */

.page-home      { background:#00D0BC; color:#00907c; }

.page-about     { background:#E59400; color:#a55400; }

.page-contact   { background:#ffa6bb; color:#9e0000; }


/* ANIMATIONS

============================================================================= */


.page.ng-leave  { z-index:9999; }

.page.ng-enter  { z-index:8888; }


/* page specific animations ------------------------ */


/* home -------------------------- */

.page-home.ng-leave         {

    -webkit-transform-origin: 0% 0%;

    -webkit-animation: rotateFall 1s both ease-in;

    -moz-transform-origin: 0% 0%;

    -moz-animation: rotateFall 1s both ease-in;

    transform-origin: 0% 0%;

    animation: rotateFall 1s both ease-in;

}

.page-home.ng-enter         {  

    -webkit-animation:scaleUp 0.5s both ease-in;

    -moz-animation:scaleUp 0.5s both ease-in;

    animation:scaleUp 0.5s both ease-in;    

}


/* about ------------------------ */

.page-about.ng-leave        {

    -webkit-animation:slideOutLeft 0.5s both ease-in;

    -moz-animation:slideOutLeft 0.5s both ease-in;

    animation:slideOutLeft 0.5s both ease-in;   

}

.page-about.ng-enter        {  

    -webkit-animation:slideInRight 0.5s both ease-in;

    -moz-animation:slideInRight 0.5s both ease-in;

    animation:slideInRight 0.5s both ease-in;    

}


/* contact ---------------------- */

.page-contact.ng-leave      {

    -webkit-transform-origin: 50% 50%;

    -webkit-animation: rotateOutNewspaper .5s both ease-in;

    -moz-transform-origin: 50% 50%;

    -moz-animation: rotateOutNewspaper .5s both ease-in;

    transform-origin: 50% 50%;

    animation: rotateOutNewspaper .5s both ease-in;

}

.page-contact.ng-enter      { 

    -webkit-animation:slideInUp 0.5s both ease-in;

    -moz-animation:slideInUp 0.5s both ease-in;

    animation:slideInUp 0.5s both ease-in;  

}



.example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}


/* rotate and fall */

@-webkit-keyframes rotateFall {

    0% { -webkit-transform: rotateZ(0deg); }

    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }

    40% { -webkit-transform: rotateZ(17deg); }

    60% { -webkit-transform: rotateZ(16deg); }

    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }

}

@-moz-keyframes rotateFall {

    0% { -moz-transform: rotateZ(0deg); }

    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }

    40% { -moz-transform: rotateZ(17deg); }

    60% { -moz-transform: rotateZ(16deg); }

    100% { -moz-transform: translateY(100%) rotateZ(17deg); }

}

@keyframes rotateFall {

    0% { transform: rotateZ(0deg); }

    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }

    40% { transform: rotateZ(17deg); }

    60% { transform: rotateZ(16deg); }

    100% { transform: translateY(100%) rotateZ(17deg); }

}


/* scale up */

@keyframes scaleUp {

    from        { opacity: 0.3; transform: scale(0.8); }

}

@-moz-keyframes scaleUp {

    from        { opacity: 0.3; -moz-transform: scale(0.8); }

}

@-webkit-keyframes scaleUp {

    from        { opacity: 0.3; -webkit-transform: scale(0.8); }

}


/* slide in from the right */

@keyframes slideInRight {

    from    { transform:translateX(100%); }

    to      { transform: translateX(0); }

}

@-moz-keyframes slideInRight {

    from    { -moz-transform:translateX(100%); }

    to      { -moz-transform: translateX(0); }

}

@-webkit-keyframes slideInRight {

    from    { -webkit-transform:translateX(100%); }

    to      { -webkit-transform: translateX(0); }

}


/* slide in from the bottom */

@keyframes slideInUp {

    from    { transform:translateY(100%); }

    to      { transform: translateY(0); }

}

@-moz-keyframes slideInUp {

    from    { -moz-transform:translateY(100%); }

    to      { -moz-transform: translateY(0); }

}

@-webkit-keyframes slideInUp {

    from    { -webkit-transform:translateY(100%); }

    to      { -webkit-transform: translateY(0); }

}


/* slide in from the bottom */

@keyframes slideOutLeft {

    to      { transform: translateX(-100%); }

}

@-moz-keyframes slideOutLeft {  

    to      { -moz-transform: translateX(-100%); }

}

@-webkit-keyframes slideOutLeft {

    to      { -webkit-transform: translateX(-100%); }

}


/* rotate out newspaper */

@-webkit-keyframes rotateOutNewspaper {

    to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }

}

@-moz-keyframes rotateOutNewspaper {

    to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }

}

@keyframes rotateOutNewspaper {

    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }

}


