<!DOCTYPE html>
<html>
<style type="text/css">
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-controller="editarController">
    <form ng-submit="editarUsuario()">
        <ul class="form-style-1">
            <!--<h2>Editar Perfil</h2>-->
            <li><label>Nom <span class="required">*</span></label>
                <input type="text" name="field1" class="field-divided" placeholder="Nombre Usuario" ng-model="nombre"/>&nbsp;
            </li>
            <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" name="field3" class="field-long" placeholder="Introduce email" ng-model="email"/>
            </li>
            <li>
                <label>Informacion <span class="required">*</span></label>
                <textarea name="field5" id="field5" class="field-long field-textarea"placeholder="Introduce Informacion" ng-model="informacion"></textarea>
            </li>
            <li>
                <input type="submit" value="Guardar Cambios" />
            </li>
        </ul>
    </form>
</body>
</html>















<!--
<div id="page">
    <header class="container"></header>

    <div id='appLouContainer' ng-app="louApp">
        <section id="body" class="container">

            <h3>Binding to Img SRC</h3>

            <div id="louTable0" ng-controller="louCtrl">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>Album</th>
                        <th>Release</th>
                        <th>Producer</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="album in louDrops.releases">
                        <td>{{album.album}}</td>
                        <td>{{album.releaseDate|date}}</td>
                        <td>{{album.producer}}</td>
                        <td>{{album.label}}</td>
                        <td>
                            <img src="{{album.image}}" alt="{{album.album}} Cover Image" width="300px;" height="300px;">
                        </td>
                    </tr>
                </table>
            </div>

            <h3>Adding ng-src</h3>
            <div id="louTable1" ng-controller="louCtrl">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>Album</th>
                        <th>Release</th>
                        <th>Producer</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="album in louDrops.releases">
                        <td>{{album.album}}</td>
                        <td>{{album.releaseDate|date}}</td>
                        <td>{{album.producer}}</td>
                        <td>{{album.label}}</td>
                        <td><img ng-src="{{album.image}}" alt="{{album.album}} Cover Image" width="300px;" height="300px;"></td>
                    </tr>
                </table>
            </div>

            <h3>Missing Images in Javascript Object</h3>

            <div id="louTable2" ng-controller="lou2Ctrl">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>Album</th>
                        <th>Release</th>
                        <th>Producer</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="album in lou2Drops.releases">
                        <td>{{album.album}}</td>
                        <td>{{album.releaseDate| date:'medium'}}</td>
                        <td>{{album.producer}}</td>
                        <td>{{album.label}}</td>
                        <td><img ng-src="{{album.image}}" alt="{{album.album}} Cover Image" width="300px;" height="300px;"></td>
                    </tr>
                </table>
            </div>

            <h3>Resolve missing images</h3>
            <div id="louTable3" ng-controller="lou2Ctrl">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>Album</th>
                        <th>Release</th>
                        <th>Producer</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="album in lou2Drops.releases">
                        <td>{{album.album}}</td>
                        <td>{{album.releaseDate| date:'medium'}}</td>
                        <td>{{album.producer}}</td>
                        <td>{{album.label}}</td>
                        <td><img ng-src="{{album.image}}" alt="{{album.album}} Cover Image" width="300px;" height="300px;" onerror="this.src='Lou_Reed.jpg'"></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>-->