<!DOCTYPE html>
<html ng-app="angularRoutingApp">
    
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-controller="mainController as main">
<h1>Temes Actuals</h1>




    <div ng-repeat="x in datos" ng-show="x.title" style="border:1px solid">

        <td>1</td>
        <a href="#/votar/{{x.id}}"><img style="margin-bottom:6px;" src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Like-icon.png" height="20" width="20"> </img></a>
        <a href="{{x.url}}" ng-show="x.url">{{x.title}}</a>
        <a href="http://www.google.com" ng-show="!x.url">{{x.title}}</a>
       </br> by <a>{{x.by}}</a>
        {{x.time}} 
        | {{x.likes.split(";").length}} likes and
        <a href="#/submission/{{x.id}}">{{x.descendants}} comments</a>
        
<!--        <form> <input type="button" value="VOTA POSITIU" click="main.doLike"></input> </form>-->
        
        
    </div>



</body>



