<!DOCTYPE html>
<html>

<body ng-controller="mainController">
<h1>Noticies</h1>


<div ng-repeat="x in datos" ng-show="x.title && x.url" style="border:1px solid">
    
        
        <td>1</td>
        <a href="#/votar/{{x.id}}"><img style="margin-bottom:6px;" src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Like-icon.png" height="20" width="20"> </img></a>
 
        <a href="{{x.url}}">{{x.title}}</a>
        <br>
        <td> by </td>
        <a href="#editar/{{x.id}}">{{x.by}}</a>
       
        <td>{{x.time}} </td>
        | {{x.score}} likes
        <a href="#/submission/{{x.id}}">{{x.descendants}} comments</a>
        
        
</div>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</body>