<!DOCTYPE html>
<html ng-app="angularRoutingApp">
<style>
/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
<body ng-controller="submissionsController">
  
<div ng-controller="replyController">
<form ng-submit="reply()">

            <!--<h2>Editar Perfil</h2>-->
            
               <h1>Contestar</h1>
                <textarea name="field1" id="field5" class="field-long field-textarea" ng-model="text"></textarea>
                <textarea name="field1" id="field5" class="field-long field-textarea" style="display:none;" ng-model="id">{{id}}</textarea>
                 </br>
                <input type="submit" value="Contesta" />

    </form>
</div>
<h1>Comentaris</h1>

<div ng-bind-html="comentaris"> </div>


<script>

</script>


</body>

    
    